<section class="dashboard-container">
  <section class="left">
    <button class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <p class="heading"><mat-icon> chat_bubble</mat-icon>Not Reddit</p>
  </section>

  <section class="right">
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search topic" />
    </mat-form-field>
    <button mat-raised-button class="primary">Get Appp</button>
    <button mat-raised-button class="primary">
      <mat-icon>person</mat-icon>
      Login
    </button>
  </section>
</section>
