.dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  background-color: #e8f9ff;
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  .left {
    align-items: center;

    display: flex;
    flex: 1;
    p {
      margin: 0px;
    }
    .heading {
      font-size: 36px;
      color: #001bb7;
    }
  }

  .right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
  }

  .middle {
    flex: 2;
    text-align: center;
    a {
      margin: 0 10px;
    }
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  .menu-button {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: transparent;
  }

  mat-icon {
    font-size: large;
    height: auto;
    width: auto;
  }
}
.primary {
  margin-left: 10px;
  background-color: #001bb7;
  color: white;
  border-color: #001bb7;
  border: 2px solid;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;

  &:hover {
  }
}
.secondary {
  margin-left: 10px;
  border: 2px solid;
  border-color: #001bb7;
  color: #001bb7;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;

  &:hover {
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 35rem;
  background-color: #e8f9ff;
  padding: 50px;
  .content {
    flex: 1;
    margin: auto;
    h1 {
      font-size: 72px;
      padding: 20px 0;
    }
  }
  img {
    flex: 1;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 80px;
  }
}
.features-section {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  mat-card {
    width: 300px;
    height: 250px;
    margin: 20px;
    display: inline-flex;
  }
}
.how-to-section {
  background-color: #3338a0;
  color: white;
  width: 90%;
  text-align: center;
  margin: auto 60px;
  padding: 40px 0 20px 0;
  border-radius: 15px;
  justify-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
    img {
      width: 300px;
    }
  }
  hr {
    border-top: 2px solid;
    width: 90%;
  }
}
.benefits-section {
  display: flex;
  margin: 60px;
  justify-content: space-evenly;
  //animation: shift 5s linear;
  h1 {
    font-size: 72px;
    animation: shift linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }

mat-icon {
  font-size: 72px;
  height: auto;
  width: auto;
}
.benefits-point {
  margin-bottom: 40px;
  animation: shift linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
}

.footer{
     background-color: #e8f9ff;
 .subscription{
   
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    .title{
          font-size: 32px;

    }
    p{
    margin: 5px;
    }
    .email-section{
      display: flex;
    }
} 
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes shift {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
