<section class="login">
  <section class="login-heading">
    <button>
      <mat-icon> stay_current_portrait</mat-icon>Continue With Phone Number
    </button>
    <button>Continue With Google</button>
    <button>Continue With Apple</button>
  </section>
  <div class="divider">
    <hr />
    <span>OR</span>
    <hr />
  </div>
  <section class="login-form">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" required />
      </mat-form-field>
    </form>
  </section>
</section>
